@import url(./nav.css);
@import url(./part2.css);
@media (max-width: 320px) {
  .navlist {
    margin: 0.5rem;
  }
  .sec-one {
    display: flex;
    flex-direction: column;
  }
  .sec-one > div {
    padding-right: 0px;
    margin-top: 1rem;
  }
  .text h1 {
    font-size: 24px;
  }

  #view {
    position: absolute;
    bottom: 0px;
    background: white;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-bottom: 15px;
  }
  .about h1 {
    text-align: center;
  }
  .about img {
    max-width: 100%;
    height: 100%;
    border-radius: 21px;
    padding: 0px;
  }
  .recipe {
    display: flex;
    flex-direction: column;
    grid-gap: 0rem;
    max-width: 100vw;
  }

  .recipe-text {
    border-bottom: 1px solid #909090;
    display: flex;
    flex: column;
    justify-content: space-evenly;
    padding-top: 1rem;
  }

  .timer {
    display: flex;
    justify-content: stretch;
    margin-top: 0.5rem;
  }

  .recipe-img img {
    max-width: 100%;
    border-radius: 0.625rem;
    height: 200px;
  }
  span .fas {
    font-size: 1rem;
    margin-right: 6px;
  }
  span p {
    font-size: 12px;
    font-weight: 100;
    color: #bbc4c2;
  }
  .entry {
    display: flex;
    flex-direction: column;
    grid-auto-flow: column dense;
    margin-top: 2rem;
    background: #fdfeff;
  }

  .entry > section img {
    height: 300px;
    max-width: 100%;
  }
  span .fab {
    margin-right: 2rem;
    font-size: 1.5rem;
  }
}
@media (min-width: 321px) and (max-width: 599px) {
  .navlist {
    margin: 0.5rem;
  }
  .sec-one {
    display: flex;
    flex-direction: column;
  }
  .sec-one > div {
    padding-right: 0px;
    margin-top: 1rem;
  }
  .text h1 {
    font-size: 24px;
  }

  #view {
    position: absolute;
    bottom: 0px;
    background: white;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-bottom: 15px;
  }
  .about h1 {
    text-align: center;
  }
  .about img {
    max-width: 100%;
    height: 100%;
    border-radius: 21px;
    padding: 0px;
  }
  .recipe {
    display: flex;
    flex-direction: column;
    grid-gap: 0rem;
    max-width: 100vw;
  }

  .recipe-text {
    border-bottom: 1px solid #909090;
    display: flex;
    flex: column;
    justify-content: space-evenly;
    padding-top: 1rem;
  }

  .timer {
    display: flex;
    justify-content: stretch;
    margin-top: 0.5rem;
  }

  .recipe-img img {
    max-width: 100%;
    border-radius: 0.625rem;
    height: 200px;
  }
  span .fas {
    font-size: 1rem;
    margin-right: 6px;
  }
  span p {
    font-size: 12px;
    font-weight: 100;
    color: #bbc4c2;
  }
  .entry {
    display: flex;
    flex-direction: column;
    grid-auto-flow: column dense;
    margin-top: 2rem;
    background: #fdfeff;
  }

  .entry > section img {
    height: 300px;
    max-width: 100%;
  }
  span .fab {
    margin-right: 2rem;
    font-size: 1.5rem;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  .recipe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* border: 2px solid red; */
  }
  .recipe-cards {
    border-radius: 21px;
    margin-bottom: 16px;
    padding: 0px;
    width: 48%;
  }

  .entry {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    background: #fdfeff;
  }

  .entry > section img {
    height: 300px;
    max-width: 100%;
    image-orientation: hidden;
  }
  .entry > section {
    border: none;
  }
  span .fab {
    margin-right: 2rem;
    font-size: 1.5rem;
  }
}
