* {
    padding: 0 2px;
    margin: 0;
    font-family: "Open Sans Condensed", sans-serif;
    color: #282120;
    max-width: 100vw;
  }
  .home {
    max-width: 100vw;
  }
  nav {
    display: flex;
    justify-content: end;
    padding: 1rem;
    background: #e9eaec;
    box-shadow: 5px 2px 5px #e9d6ba;
  }
  a:hover {
    color: red;
  }
  a {
    text-decoration: none;
  }
  .cake-name:hover {
    color: red;
  }
  .navlist {
    display: inline;
    margin: 1.25rem;
    font-weight: 700;
  }
  