.sec-one {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 2rem 0;
}
.sec-one > div {
  padding-right: 0px;
}
.text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about {
  position: relative;
}
#view {
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin: 0px;
}
.about h1 {
  text-align: center;
}
.about img {
  max-width: 50vw;
  height: 100%;
}
.about-me {
  /* border: 2px solid red; */
  /* display: flex; */
  text-align: center;
  border-radius: 500px;
  width: 400px;
  height: 400px;
  margin: auto;
  margin-bottom: 1.25rem;
  padding-top: 10px;
}
.about-me img {
  /* border: 2px solid blue; */
  border-radius: 100%;
  width: 200px;
}
.info {
  display: flex;
  flex-direction: column;
  /* border: 2px solid green; */
  justify-content: center;
  align-items: center;
}
.recipe {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
.recipe-cards {
  display: flex;
  flex-direction: column;
}
.recipe-img {
  display: flex;
  justify-content: center;
}
.recipe-img img {
  object-fit: cover;
  width: 100%;
}

.recipe-text {
  border-bottom: 1px solid #909090;
  display: flex;
  flex: column;
  justify-content: space-evenly;
  padding-top: 1rem;
  margin-bottom: 1.5em;
  align-items: center;
}
.cake-name {
  font-size: 1.5em;
  color: #464033;
}
.timer {
  display: flex;
  padding-bottom: 0;
  margin-bottom: 0;
}
.recipe-img img {
  max-width: 100%;
  border-radius: 0.625rem;
  height: 300px;
}
.item1 {
  grid-area: 1/1/2/3;
}
.item6 {
  grid-area: 2/3/3/5;
}

.item7 {
  grid-area: 3/1/4/3;
}
.item12 {
  grid-area: 4/3/5/5;
}
span .fas {
  font-size: 1rem;
  margin-right: 6px;
}
span p {
  font-size: 12px;
  font-weight: 100;
  color: #bbc4c2;
}
.entry {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 3.125rem;
  background: #fdfeff;
}
.entry > section {
  border: 1px solid black;
  border-left: 0;
  border-right: 0;
  justify-content: center;
}
.form-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.entry > section img {
  height: 300px;
}
.form {
  margin: 20px;
}
input {
  border-style: hidden;
  border-bottom-style: dotted;
}
button {
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  border: 2px solid red;
  background: transparent;
}
footer {
  padding: 1.25rem;
}
footer {
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 20px;
}
footer span {
  position: absolute;
  left: 10px;
}
span .fab {
  margin-right: 2.5rem;
  font-size: 1.875rem;
}
