* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif;
  color: #282120;
  max-width: 100vw;
}
nav {
  display: flex;
  justify-content: end;
  padding: 1rem;
  background: #e9eaec;
  box-shadow: 5px 2px 5px #e9d6ba;
}
a:hover {
  color: red;
}
a {
  text-decoration: none;
}
.navlist {
  display: inline;
  margin: 1.25rem;
  font-weight: 700;
}
.banner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0.5em;
  margin-top: 2rem;
}

.banner section img {
  max-width: 100%;
}
.box1 {
  grid-area: 1/1/3/3;
  justify-self: end;
  min-width: 100%;
}
.box2 img {
  object-fit: fill;
  position: center;
}

.box1 img,
.box2 img,
.box3 img {
  width: 100%;
  height: 100%;
}
.box4 {
  justify-content: center;
  align-self: end;
  border-bottom: 2px solid red;
  grid-area: 4/1/5/4;
  text-align: center;
}
.template {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  padding: 1.25rem;
  margin: 1.25rem;
}
.list {
  line-height: 2.5;
}
.list h3 {
  display: inline;
  border-bottom: 2px dashed;
  position: relative;
  border-right: -20px;
}
.entry {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 3.125rem;
  background: #fdfeff;
}
.entry > section {
  border: 0.5px dotted gray;
}
.form-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.entry > section img {
  height: 300px;
}
.form {
  margin: 20px;
}
input {
  border-style: hidden;
  border-bottom-style: dotted;
}
button {
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  border: 2px solid red;
  background: transparent;
}
footer {
  padding: 1.25rem;
}
footer {
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 20px;
}
footer span {
  position: absolute;
  left: 10px;
}
span .fab {
  margin-right: 2.5rem;
  font-size: 1.875rem;
}

@media (max-width: 320px) {
  .navlist {
    margin: 0.5rem;
  }
  .banner {
    max-width: 100vw;
  }

  .banner section img {
    max-width: 100%;
  }
  .box4 {
    justify-content: center;
    align-self: end;
    border-bottom: 2px solid red;
    grid-area: 4/1/5/4;
    text-align: center;
  }

  .template {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    padding: 1.25rem;
    margin: 1.25rem;
  }

  .entry {
    display: flex;
    flex-direction: column-reverse;
    grid-auto-flow: column dense;
    margin-top: 2rem;
    background: #fdfeff;
  }

  .entry > section img {
    height: 300px;
    max-width: 100%;
  }
  span .fab {
    margin-right: 2rem;
    font-size: 1.5rem;
  }
}
@media (min-width: 321px) and (max-width: 599px) {
  .navlist {
    margin: 0.5rem;
  }
  .banner {
    max-width: 100vw;
  }

  .banner section img {
    max-width: 100%;
  }
  .box4 {
    justify-content: center;
    align-self: end;
    border-bottom: 2px solid red;
    grid-area: 4/1/5/4;
    text-align: center;
  }

  .template {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    padding: 1.25rem;
    margin: 1.25rem;
  }

  .entry {
    display: flex;
    flex-direction: column-reverse;
    grid-auto-flow: column dense;
    margin-top: 2rem;
    background: #fdfeff;
  }

  .entry > section img {
    height: 300px;
    max-width: 100%;
  }
  span .fab {
    margin-right: 2rem;
    font-size: 1.5rem;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  .entry {
    display: flex;
    flex-direction: column;
    grid-auto-flow: column dense;
    margin-top: 2rem;
    background: #fdfeff;
  }

  .entry > section img {
    height: 300px;
    max-width: 100%;
  }
  span .fab {
    margin-right: 2rem;
    font-size: 1.5rem;
  }
}
